[Unit]
Description=Apollo manager by renj.io

[Service]
Type=simple
ExecStart=/renj.io/app/Apollo/start.sh
ExecReload=/renj.io/app/Apollo/restart.sh
ExecStop=/renj.io/app/Apollo/stop.sh
KillMode=process
Restart=on-failure


[Install]
WantedBy=multi-user.target